package templates

templ NotFound() {
    <div class="flex items-center h-full p-4">
        <h1 class="text-center text-2xl mb-4">
            Sorry, we couldn't find the article you're looking for
        </h1>
    </div>
}
