package templates

templ NotFound() {
    <div class="flex flex-col items-center h-full p-4">
        <div class="
            m-auto
            rounded
            bg-[#fffbef]
            border-2 border-[#b2afa4]
            p-2
            "
        >
            <h1 class="text-center text-2xl">
                Sorry, we couldn't find the article you're looking for
            </h1>
        </div>
    </div>
}
